$TopBarHeight:60px; //顶部状态栏高度
$ASideMaxWidth:240px ; //左侧菜单栏展开宽度 最大
$ASideMinWidth:64px ; //左侧菜单栏展开宽度 最小

:export {
  TopBarHeight:$TopBarHeight;
  ASideMaxWidth:$ASideMaxWidth;
  ASideMinWidth:$ASideMinWidth;
}