
.flex-c{
  display: flex;
  align-items: center;
}
.flex-cc{
  display: flex;
  align-items: center;
  justify-content: center;
}


.flex{
  display:flex;
  &-wrap{
    flex-wrap: wrap;
  }

  &-nowrap{
    flex-wrap: nowrap;
  }

  &-top{
    align-items: flex-start;
  }
  &-bottom{
    align-items: flex-end;
  }
  &-column {
    flex-direction: column;
  }
  &-align-center{
    align-items: center;
  }
  &-justify-center{
    justify-content: center;
  }
  &-justify-stretch{
    justify-content: stretch;
  }
  &-justify-between{
    justify-content: space-between;
  }
  &-justify-end {
    justify-content: flex-end;
  }
  &-justify-around{
    justify-content: space-around;
  }

  &1 {
    flex: 1
  }
}
