
@import './flex.scss';
@import './short.scss';
@import './sidebar.scss';
@import './flex.scss';
@import './short.scss';
@import './custom.scss';


html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

//滚动条样式
::-webkit-scrollbar {
  width: 10px; //纵向宽度
  height: 10px; //横向高度
}

::-webkit-scrollbar-track {
  //底色
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  //角落箭头区域
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  //滚动条颜色
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ddd
}

::-webkit-scrollbar-thumb:active {
  background-color: #ccc
}


// 菜单 标签左对齐
.el-submenu__title, .el-menu-item{
  text-align: left;
}